<%- include ('partials/head') %>
 <nav
    class="navbar navbar-expand-lg navbar-dark"
    style="background-color: black"
  >
    <a class="navbar-brand" href="/"
      ><img src ="/OBOG_LOGO.jpg"  width="50" height="50"></i
    ></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/login">Log in </a>
        <a class="nav-item nav-link" href="/registration"
          >Register for event <br /></a>
        <!-- Will need to update to see how we can parse current user instead of !-->
        <a class="nav-item nav-link active" href="/dashboard/1">User Dashboard</a>
         <a class="nav-item nav-link" href="/registeredevent/1/photos">Photo Album</a>
        <a class="nav-item nav-link" href="/">ABOUT OBOG</a>
        <form action="/logout?_method=POST" method="POST">
          <button type="submit" class="btn btn-outline-light btn btn-md">
            log out
          </button>
        </form>
      </div>
    </div>
  </nav>

<div class="container landing-page">
  <h3>User Dashboard</h3>
  <br />
  <div class="table-responsive">
    <table class="table">
      <tr>
        <th>Date Registered</th>
        <th class="d-none d-sm-table-cell">Instrument</th>
        <th>Event
        </th>
        <th id="delete-heading">Delete</th>
      </tr>
      <tr>
        <% for (let i = 0; i < userNotes.length; i += 1) { %>
        <td>
          <a
            href="/registeredevent/<%= userNotes[i].id %>"
            style="color: darkslategray"
            ><%= userNotes[i].date %></a
          >
        </td>

        <td><%= userNotes[i].instrument %></td>
        <td><%= userNotes[i].name %></td>
        <td>
          <form
            id="delete-button"
            action="/dashboard/<%= userNotes[i].id %>/delete?_method=DELETE"
            method="POST"
          >
            <button class="btn btn-sm btn-outline" type="submit">
              <i class="fa fa-trash-alt"></i>
            </button>
          </form>
        </td>
      </tr>
      <% } %>
    </table>
  </div>
</div>
<%- include ('partials/footer') %>
